extends ./layout.jade
block title=title

block content
  div.container

    div.page-header
      h1 Discover

      if dis
       for each,i in images
          p
          img(src=each,width="600", height="600", onclick="imageClick('/posts/#{posts[i]}')")
          p
        a.btn.btn-primary(href="/") Return to home page

        script.
              function imageClick(url) {
                console.log(url)
                window.location = url;
              }