extends ./layout.jade

block title
  title=title

block content
  div.container(style="width: auto;")
    div.page-header
      h1#discoverhead Discover

    if dis
      ul(style="list-style-type: none;")
        for each,i in images
          div#discoverparent
            div#discoverchild
              img#discover(src=each, onclick="imageClick('/posts/#{posts[i]}')")
      script.
            function imageClick(url) {
              console.log(url)
              window.location = url;
            }