extends ./layout.jade
block title=title

block content
  div.container#homepageContainer

    if user
      div.container(style="margin-top: 100px;")

        for each,i in images
          div.col-md-4
            img(id="homepageimage", src=each, onclick="imageClick('/posts/#{posts[i]}')")
        script.
          function imageClick(url) {
            console.log(url)
            window.location = url;
          }
    else
      script.
        document.getElementById("homepageBackground").style.background = 'url("http://workexpert.ru/wp-content/uploads/VideoTherapyWomanBeachLaptopSMer-1200x797.jpeg")';
        document.getElementById("navbar").style.visibility="hidden";
      div.jumbotron#homepage
        h1#homepage Agent
        p#homepage A new way of trading.
        p#homepage
          a.btn.btn-primary(href="/login") Login now
        p#homepage
          span.small Don't have an account?
          span &nbsp;
          a.small(href="/register") Register now
