html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css")
    style
      include style.css
  body#homepageBackground
    div.container#homepageContainer
      div.jumbotron#homepage
        h1#homepage Agent

        if user
          p
            a.small(href="profile") Edit my profile
          p
            a.small(href="newpost") Create a new post
          p 
            a.small(href="user") #{user.fullName}		  
          a.btn.btn-primary(href="/logout") Logout
        else
          p#homepage A new way of trading.
          p#homepage
            a.btn.btn-primary(href="/login") Login now
          p#homepage
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/register") Register now
    div.container
