html
	head
		title=title
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
	body
		div.container
			div.jumbotron
				h1 Hello! #{user.fullName}
					if user
						div.container
							form(name = 'form1', method = "post")
								if clickable == 'false'
									input(name= 'button1',type = "submit", value = "follow", disabled)
								else
									input(name= 'button1',type = "submit", value = "follow")
						block content
						#results
						for picture in results	
							include user_home
						div.pull-right
						
					else
						p
							Welcome to my app, ready to get started?
						p 
							a.btn.btn-primary(href="/login") Login now
						p
							span.small Don't have an account?
							span &nbsp;
							a.small(href="/register") Register now

		div.container