html
	head
		title=title
		link(
			href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
			rel='stylesheet'
		)
		body
			p
			div.col-md-3
				img.img-responsive.img-rounded(src ='../' + picture.Image_path, onclick = "imageClick('/posts/#{picture._id}')",style="cursor:pointer;",width="600", height="600" )
			script.
				function imageClick(url) {
					window.location = url;
				}