include mixins/user_home_post
extends ./layout.jade
block title
	title=title
block content
	div.container(style="background:#F0F0F0;width:650px;box-shadow:0px 0px 10px 0px #888888;margin-bottom:50px")
		div.container(style="width:600px; margin-left:-25px;margin-bottom:10px;margin-top:10px")
			div.col-md-3(align="center",style="padding-left: 0px;")
				if User_pic
					img.img-circle(src='../'+User_pic, style="width:50px")
				else
					img.img-circle(src='../images/default_profile.jpg',style="width:50px")
			div.col-md-9(align="left")
				p(style="color:black")
				h4(style="color:black") #{user.fullName} 
				|post this picture on #{topass.post_data.Time}
		div.container(style="margin-left:-35px")
			+user_home_post(topass)