body
  div#discoverparent
    div#discoverchild
      img#discover(src ='../' + picture.Image_path, onclick = "imageClick('/posts/#{picture._id}')")
  script.
    function imageClick(url) {
      window.location = url;
    }