html
	head
		title=title
		link(
			href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
			rel='stylesheet'
		)
		body
			//p
			//div.col-md-4
			li(style="float: left; position: relative; width: 200px; height: 150px; overflow: hidden;")
				img.img-responsive.img-rounded(src ='../' + picture.Image_path, onclick = "imageClick('/posts/#{picture._id}')",style="cursor:pointer; height:200px; width:300px;")
			script.
				function imageClick(url) {
					window.location = url;
				}