
mixin comment(user_pic, user_id, user_name, text, current_user_id)

  div.container(style="width: auto;margin-top: 5px; margin-bottom: 5px;")
    img.img-circle(style="width: 40px;" src='../'+user_pic + '?dim=40x40')
    if (user_id == current_user_id)
       a.b(style="margin-left: 10px; font-weight: bold;" href='../user/') #{user_name}
    else
       a.b(style="margin-left: 10px; font-weight: bold;" href='../stranger/'+user_id) #{user_name}
    |  #{text}
