mixin showFollowees(followee)
	li(style="padding:10px 70px")
		div.container(style="width:100px;height:20px;margin-bottom:0px")
			div.col-md-3(style="margin-left:-45px;margin-top:-10px")
				div.container(style="width:30px;height:30px;margin-left:-60px",align="left")
					img.img-circle(src='../'+followee.Friend_picture,style="width:30px;")
			div.col-md-9
				div.container(style="width:50px;height:10px;margin-top:-7px;",align="left")
					a(href='/stranger/'+followee.Friend_id,style="text-decoration:none;") #{followee.Friendname.split(" ")}